body {
 	text-align: center;
	background-color: black;
	
	font-family: 'Raleway';
    font-size: 22px;
}

hr {
	background-color: white;
	width: 20%;

}

/*Header*/

header {
	padding-bottom: 15%;


 	background: url("../img/bg.jpg")no-repeat;
 	background-size: 100% 100%;

	color: white;

}

/*Nom et description du job*/

.top{
	padding: 5%;
}



/*Presentation*/
.presentation p {
	margin: auto;
	width: 55%;
	padding-top: 25px;
} 

/*Portfolio*/


.portfolio h2{
	padding: 5%;
	color: white;
}
.portfolio .card {
	border: 2px solid black;
	min-height: 600px;
	background-color: #bfbfbf;
}
.portfolio .card h4 {
	font-weight: bold;
	text-decoration: underline;
}

.portfolio .card p {
	font-size: 18px;
}

.portfolio .btn{
	margin: 10px;
	width: 100px;
}

.portfolio .col-sm-12{
	padding-bottom: 3%;
}

.col-4{
	font-style: italic;
}

/*Outils*/

.outils {
	padding-bottom: 5%;
}

.outils h2{
	padding: 3%; 
	color:white;
}

.outils p{
	color: white;
	margin:auto;
	font-size: 18px;
	width: 80%;
}

.outils h6{
	color: white;
	font-size: 22px;
}

.outils .fa, .outils .fab{
	font-size: 1.5em;
	padding-bottom: 20px;
}

.fa-html5{
	color: blue;
}

.fa-css3{
	color: orange;
}
.fa-bold{
	color: purple;
}
.fa-js{
	color:yellow;
}
.Xd{
	width: 35px;
	padding-bottom: 20px;
}



/*Formulaire*/
.formulaire{
	padding: 5%;
}
.formulaire h2{
	color: white;
	padding-bottom: 25px; 
}

.formulaire .col-md-6 {
	margin-bottom: 10px;
}

.form-row {
	width: 50%;
	margin-left: 25%;
}

textarea{
	width: 50%;
	margin-bottom: 25px;
}





/*Bas de page*/
footer a{
	color: black;
}
footer a:hover{
	background-color: #bfbfbf;
}
footer i{
	color:white;
	margin-right: 10px;
}


/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
	 .portfolio .card {
		min-height: auto; 	
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) { 
	body {
		width:99%;
	}
}