body {
 	text-align: center;

  background-color: black;
	font-family: 'Raleway';
    font-size: 22px;
}

hr {
	background-color: white;
	width: 20%;

}


/*Changer la couleur du hamburger*/
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
}


.nav-item{
  padding: 5px;
  margin: 5px;
}

/*Liens*/
.nav-link{
  color:white;
}

/*Couleur de fond de la navigation*/
.navigation{
  background-color: black;
}



/*Header*/



header {
	padding-bottom: 15%;


 	background: url("../img/bg.jpg")no-repeat;
 	background-size: 100% 100%;

	color: white;

}

/*Nom et description du job*/

.top{
	padding: 5%;
}



/*Presentation*/
.presentation p {
	margin: auto;
	width: 55%;
	padding-top: 25px;
}

/*Portfolio*/


.portfolio h2{
	padding: 5%;
	color: white;
}
.portfolio .card {
	border: 2px solid black;
	min-height: 600px;
	background-color: #bfbfbf;
}
.portfolio .card h4 {
	font-weight: bold;
	text-decoration: underline;
}

.portfolio .card p {
	font-size: 18px;
}

#Res p{
	font-size: 17px;
}

.portfolio .card img{
  max-height: 250px;
}

.portfolio .btn{
	margin: 10px;
	width: 100px;
}

.portfolio .col-sm-12{
	padding-bottom: 3%;
}

.col-4{
	font-style: italic;
}

/*Outils*/

.outils {
	padding-bottom: 5%;
}

.outils h2{
	padding: 3%;
	color:white;
}

.outils p{
	color: white;
	margin:auto;
	font-size: 18px;
	width: 80%;
}

.outils h6{
	color: white;
	font-size: 22px;
}

.outils .fa, .outils .fab{
	font-size: 1.5em;
	padding-bottom: 20px;
}

.fa-html5{
	color: blue;
}

.fa-css3{
	color: orange;
}
.fa-bold{
	color: purple;
}
.fa-js{
	color:yellow;
}
.Xd{
	width: 35px;
	padding-bottom: 20px;
}



/*Formulaire*/
.formulaire{
	padding: 5%;
}
.formulaire h2{
	color: white;
	padding-bottom: 25px;
}

.formulaire .col-md-6 {
	margin-bottom: 10px;
}

.form-row {
	width: 50%;
	margin-left: 25%;
}

textarea{
	width: 50%;
	margin-bottom: 25px;
}





/*Bas de page*/

footer h2{
	color: white;
	padding-bottom: 25px;
}

footer a{
	color: black;
  padding: 10px;
}

footer i{
	color:white;
}

footer p {
  font-size: 10px;
  margin: 10px;
  color: aliceblue;
}



/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 375px) {

	header {
		min-height: 900px;
	}
	.presentation p {
		width: 80%;
	}

	.portfolio .card {
		min-height: auto;
	}

	.outils i, .outils img{
		padding-top:  15%;
	}

	.formulaire textarea {
		width: 100%;
	}

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 577px) {
	.outils i, .outils img{
		padding-top:  15%;
	}
	.formulaire textarea {
		width: 50%;
	}
	.card {
		height: 530px;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.card {
		height: 500px;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {


}
