body {
 	text-align: center;
	background-color: black;
	
	font-family: 'Raleway';
    font-size: 22px;
}

hr {
	background-color: white;
	width: 20%;

}

/*Header*/

header {
	padding-bottom: 15%;


 	background: url("../img/bg.jpg")no-repeat;
 	background-size: 100% 100%;

	color: white;

}

/*Nom et description du job*/

.top{
	padding: 5%;
}



/*Presentation*/
.presentation p {
	margin: auto;
	width: 55%;
	padding-top: 25px;
} 

/*Portfolio*/

.portfolio {


}	



.portfolio h2{
	padding: 5%;
	color: white;
}
.portfolio .card {
	border: 2px solid black;
	min-height: 600px;
}
.portfolio .card h4 {
	font-weight: bold;
}

.portfolio .btn{
	margin: 10px;
	width: 100px;
}

.outils {
	padding: 5%;
}



.portfolio .col-sm-12{
	padding-bottom: 3%;
}

i{
	color:white;
}


footer a{
	color: black;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) { 
	body {
		width:99%;
	}
}